<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Healthcare Symposium</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body id="page-top">
    <div id="toTop"><img src="../assets/img/up.png" alt="Top"></div>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="http://dsce.edu.in" target="_blank"><img src="../assets/img/dscelogo.png" id="dscelogo">&emsp;Dayananda Sagar College of Engineering</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#home">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#overview">Overview</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio">More Info</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('../assets/img/header-bg.jpg');" id="home">
        <div class="container">
            <div class="intro-text">
                <div class="inttext"><strong>Welcome!</strong></div><br><br>
                <div class="inttext"><span>Two Day Symposium on Integration of Technology for Affordable Healthcare</span></div>  <br><br><br>  
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" id="register-button" role="button" href="#contact">Register</a>
            </div>
        </div>
    </header>
    <section id="overview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Overview</h2>
                    <!-- <h3 class="text-muted section-subheading">Lorem ipsum dolor sit amet consectetur</h3> -->
                </div>
            </div>
            <div class="row text-center">
                The two-day seminar aims to bring the best minds from Industry, 
              Academia and Researchers to deliberate on the need for making healthcare more affordable through integration of technologies
              that is inline with universal health coverage goal set by WHO.
              The key to take advantage of rapid advances in healthcare and thereby make quality healthcare affordable to whole of India, 
              is to bring integration of these emerging technologies, sensors, devices and products.<br><br><br>
              <h3>Expected Outcome and Benefit</h3><br><br>
              <ul style="text-align:left;">
                <li>Understanding the need for innovative, sustainable healthcare solutions for Rural India & globally.</li>
                <li>Exposure to technological solutions developed by MedTech companies for making healthcare more universal.</li>
                <li>Engagement with clinical environment and healthcare organizations.</li>
                <li>Understanding the vision, direction and policies of Govt of India and facilitating public private partnership.</li>
                <li>Ideas for tomorrow and networking opportunities for developing sustainable health solutions.</li>
              </ul>
              <br>
              <p id="note1"><strong>Note:</strong> &emsp14;The Symposium is <strong>Free of cost</strong>. Limited Seats available, which are allocated on a First-Come First-Served basis. Last date for Registration is <strong>12th November, 2019</strong>. </p>
            </div>
        </div>
    </section>
    <section id="portfolio" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Details</h2>
                    <h3 class="section-subheading text-muted">Details about the Symposium and its events. The Brochure, our Technical Partners and more!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#schedule">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="../assets/img/schedule.jpeg"></a>
                    <div class="portfolio-caption">
                        <h4>Schedule</h4>
                        <p class="text-muted">Details about the two-day sessions.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#speakers">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="../assets/img/speaker.jpeg"></a>
                    <div class="portfolio-caption">
                        <h4>Brochure</h4>
                        <p class="text-muted" >The brochure for the symposium.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#committee">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="../assets/img/contact.jpeg"></a>
                    <div class="portfolio-caption">
                        <h4>Contact Details</h4>
                        <p class="text-muted">To connect with the Organisers.</p>
                    </div>
                </div>
                <br><br><br><br>
                <h3>&emsp;Technical Partners</h3><br><br><br>

                <div class="card-deck" style="margin: 10px;">
                    <div class="card border-success">
                        <img class="card-img-top" src="../assets/img/hearthealth.jpg" alt="HeARThealth">
                            <div class="card-body">
                                <h5 class="card-title"><a href="http://hearthealthtech.com" style="color: black;">HeARThealth</a></h5><br>
                                <p class="card-text">
                                    <li class="list-inline-item logos"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item logos" style="left: 50%"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item logos" style="right: 0"><a href="https://in.linkedin.com/company/hearthealthtech"><i class="fa fa-linkedin"></i></a></li>
                                </p>
                            </div>
                    </div>
                    <div class="card border-success">
                        <img class="card-img-top" src="../assets/img/icmr.jpg" alt="ICMR">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://www.icmr.nic.in/" style="color: black;">ICMR</a></h5><br>
                                <p class="card-text">
                                    <li class="list-inline-item logos"><a href="https://twitter.com/ICMRDELHI"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item logos" style="left: 50%"><a href="https://www.facebook.com/ICMROrganisation"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item logos" style="right: 0"><a href="https://www.linkedin.com/company/icmrorganization"><i class="fa fa-linkedin"></i></a></li>
                                </p>
                            </div>
                    </div>
                    <div class="card border-success">
                        <img class="card-img-top" src="../assets/img/derbi.png" alt="Derbi">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://www.derbifoundation.com/" style="color: black;">Derbi</a></h5><br>
                                <p class="card-text" style="text-align: center;">
                                    <li class="list-inline-item logos"><a href="https://twitter.com/derbifoundati0n"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item logos" style="left: 50%"><a href="https://www.facebook.com/derbifoundation//"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item logos" style="right: 0"><a href="https://www.linkedin.com/company/derbi-incubator"><i class="fa fa-linkedin"></i></a></li>
                                </p>
                            </div>
                    </div>
                    <div class="card border-success">
                        <img class="card-img-top" src="../assets/img/dscelogo.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a href="http://hearthealthtech.com" style="color: black;">Dayananda Sagar</a></h5><br>
                                <p class="card-text">
                                    <li class="list-inline-item logos"><a href="https://twitter.com/DsceOfficial"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item logos" style="left: 50%"><a href="https://www.facebook.com/dsceofficial/"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item logos" style="right: 0"><a href="https://in.linkedin.com/school/dayananda-sagar-institutions/"><i class="fa fa-linkedin"></i></a></li>
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" style="background-image:url('../assets/img/map-image.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Registration</h2>
                    <h3 class="section-subheading text-muted">Register here for the conference</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm" method="post" action="/">
                        <div class="form-row">
                            <div class="col col-md-6">
                                <div class="form-group"><input class="form-control" type="text" id="name" name="name" placeholder="Your Name *" required="true"><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                <div class="form-group"><input class="form-control" type="email" id="email" name="email" placeholder="Your Email *" required="true"><small class="form-text text-danger help-block lead"></small></div>
                                <div class="form-group"><input class="form-control" type="text" id="comporcoll" name="comporcoll" placeholder="Company/College *" required="true"><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                <div class="form-group"><input class="form-control" type="tel" id="phonenumber" name="phonenumber" placeholder="Your Phone *" required="true"><small class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><textarea class="form-control" id="message" name="message" placeholder="Questions/Remarks (if any)"></textarea><small class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="col">
                                <div class="clearfix"></div>
                            </div><br><br>
                            <div class="col-lg-12 text-center">
                                <input class="btn btn-primary" type="submit" value="Submit" style="font-size: 25px;"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Dayananda Sagar College of Engineering</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons" style="margin: 20px;">
                        <li class="list-inline-item"><a href="https://twitter.com/DsceOfficial"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/dsceofficial/"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/dsce.official/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks" style="line-height: 20px;"><strong style="font-size: 20px;">Developed by:</strong><br><br>
                        <a href="https://www.linkedin.com/in/ajaykumar-s-hadimani-5b2079185/">Ajay Kumar S H</a><br>
                        <a href="https://www.linkedin.com/in/harshith-r-s-043a00181/">Harshith R S</a><br>
                        <a href="https://www.linkedin.com/in/hemanth-kumar-2079a5181/">Hemanth Kumar V</a><br>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="schedule">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Schedule</h2>
                                    <p class="item-intro text-muted">The Schedule for the Symposium.</p>
                                    <h3>Day 1</h3><img class="img-fluid d-block mx-auto" src="../assets/img/day1.jpg"><br><br>
                                    <h3>Day 2</h3><img class="img-fluid d-block mx-auto" src="../assets/img/day2.jpg">
                                    </ul><button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close</span></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="speakers">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Brochure</h2>
                                    <p class="item-intro text-muted">The Brochure for the two-day Symposium.</p>
                                    <img class="img-fluid d-block mx-auto" src="../assets/img/a.jpg">
                                    <img class="img-fluid d-block mx-auto" src="../assets/img/B.jpg">
                                    </ul><button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close</span></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="committee">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Contact Details</h2>
                                    <p class="item-intro text-muted">Reach out to the Organisers of the Symposium.</p>
                                    <ul class="list-unstyled">
                                        <li><strong>Dr. Arbind Kumar Gupta</strong></li>
                                        <li>Cell: +91 9845193233</li>
                                        <li>Email: arbind.gupta@gmail.com</li>
                                    </ul> <br>
                                    <ul class="list-unstyled">
                                            <li><strong>Dr. Suma V</strong></li>
                                            <li>Cell: +91 9113216711</li>
                                            <li>Email: suma-ise@dayanandasagar.edu</li>
                                        </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close </span></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/easing.js"></script>
    <script src="../assets/js/agency.js"></script>
</body>

</html>